:root {
    --bs-font-sans-serif: 'Fira Sans', sans-serif;
  }

body {
    position: relative;  
}

p{
    text-align: justify;

}
a{
    text-decoration: none;
}

.badge{
    background-color: #455469;
    padding: 4px;
}

.navbar{
    background-color: #455469;    
}
.nav-item{
    margin: 5px;
    margin-right: 40px;
}
.nav-item, .nav-link{
    color: white !important;
    font-size: 20px;
    cursor: pointer;
}
.nav-item .active{
    color: white !important;
    background-color: #0BBBEF;
    font-weight: bold;
    border-radius: 8px;
    margin-top:5px;
    padding: 3px;
}

.section-container{    
    width: 100%; 
    padding-top: 5%;
    background-color: rgb(248, 248, 248); 
    min-height: 100vh;   
    display: none;
}

.logo{
    width: 400px;
    height: 400px;    
}

.pub-item{
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}

.person-card{
    background-color: white;
    width: 50%;
    text-align: center;
    padding: 10px;
}
.person-card-text{
    font-size: 14px !important;
    text-align: center;
}

.person-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.orcid-btn{
    background-color: #A5CD39;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

.contact-card{
    padding: 20px;
    background-color: white;
    margin: auto;
}


@media only screen and (min-width: 700px) and (max-width: 1200px) {
    .person-card{
        width: 100%;
    }    
    .nav-item, .nav-link{      
      font-size: 16px;      
    }
}

@media only screen and (max-width: 700px) {
    .first-section{
        padding-top: 100px;
    }
    .logo{
        margin-bottom: 50px;
    }    
    .nav-item{
        margin: 0px;
    }      
    .nav-item, .nav-link{      
      font-size: 14px;
      margin-left: 5px;      
    }
}



.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  